<div class="my-container">
  <div class="row g-0">
    <div class="col-md-4 card-image">
      <% if @singer.photo.attached? %>
          <%= cl_image_tag @singer.photo.key, crop: :fill,height: 200, width: 300, class: "img-fluid rounded-start" %>
          <% else %>
           <div class="card card-background text-center" style="width: 22rem; background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://genesisblockhk.com/wp-content/uploads/2021/12/15-dec-2021-04-2048x1152.jpg)">
      <% end %>
      </div>
        <div class="col-md-8">

          <div class="card-body">
            <h1 class="card-title"><strong><%= @singer.name %></strong></h1>
            <p class="card-text"><small class="text-muted"><% @singer.birth_year %><%= " " %><i class="fa-solid fa-cross"></i><%= @singer.death_year %></small></p>
            <p class="card-text"><small class="text-muted"><%= @singer.category%></small></p>
            <p class="card-text"><%= @singer.bio %></p>
            <p class="card-text"><small class="text-muted">Last rented 3 hours ago</small></p>
            <%= link_to "Book now", "#{params[:id]}/bookings/new", class: "btn btn-flat" %>
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
          </div>
    </div>
  </div>

</div>
