<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag("logo.png") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dashboard", "/dashboard/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dead Singers", "/singers/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add your deadsinger", new_singer_path , class: "nav-link"%>
          </li>
        <% else %>
          <%= link_to "Sign-In", "/users/sign_in", class: "dropdown-item" %>
          <%= link_to "Sign-Up", "/users/sign_up", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
